---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

/* Colors */
$base-color: #000 !default;
$text-color: #226 !default;
$accent-color: #34374C !default;
$nav-color: #fff !default;
$background-color: #fffffb !default;
$nav-background-color: #226 !default;
$code-background-color: tint($background-color, 95%) !default;
$border-color: tint($base-color, 80%) !default;

$primary-color: #000 !default;
$success-color: #62c462 !default;
$warning-color: #f89406 !default;
$danger-color: #ee5f5b !default;
$info-color: #52adc8 !default;

/* Syntax highlighting (base16) colors */
$base00: #efeff6 !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;

@import "so-simple/skin";

.site-nav ul {
  border-radius: 3px;
}
.site-nav ul li a {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8rem;
}

.emph {
  font-size: 110%;
  color: black;
  background-color: #f0f0ff;
  padding: 1em 2em;
  border: 1px solid #eef;
  border-left: 0.5em solid black;
  border-radius: 7px;
  margin-bottom: 1.5rem;
}

.emphl {
  color: black;
  background-color: #f0f0ff;
  border: 1px solid #eef;
  padding: 0 3px 0 3px;
  border-radius: 3px;
  margin-bottom: 1.5rem;
}

.foot {
  font-size: 85%;
  display: inline-block;
  background-color: #fcfcfc;
  border: 2px ridge #dcdcdc;
  padding: 1em 1em 0.7em;
  color: #7b7b50;
  border-radius: 0 15px 15px 15px;
}

.foot-icon {
  margin-right: 7px;
}

.troll {
  width: 20px;
  padding-bottom: 0.2rem;
}

.toc {
  border-left: 1px solid #dbeef6;
  margin-bottom: 50px;
  padding-top: 15px;
  border-radius: 20px;
}

.toc:not ol li {
  margin-top: 7px;
}
ol li::marker {
  color: #9f9f9f;
  font-weight: bold;
}